-- Generated from local SQLite schema

BEGIN;

CREATE TABLE IF NOT EXISTS categories (
            category_id INTEGER PRIMARY KEY,
            parent_id INTEGER,
            name TEXT NOT NULL,
            level INTEGER,
            path TEXT,
            FOREIGN KEY (parent_id) REFERENCES categories(category_id)
        );

CREATE TABLE IF NOT EXISTS category_tax_rules (
            rule_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            category_id INTEGER NOT NULL,
            tax_rate REAL NOT NULL CHECK(tax_rate >= 0 AND tax_rate <= 100),
            FOREIGN KEY (category_id) REFERENCES categories(category_id)
        );

CREATE TABLE IF NOT EXISTS marketplaces (
            marketplace_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name TEXT NOT NULL UNIQUE
        , slug TEXT);

CREATE TABLE IF NOT EXISTS shipping_companies (
            shipping_company_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name TEXT NOT NULL UNIQUE
        );

CREATE TABLE IF NOT EXISTS marketplace_shipping_options (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            marketplace_id INTEGER NOT NULL,
            shipping_company_id INTEGER NOT NULL,
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id),
            FOREIGN KEY (shipping_company_id) REFERENCES shipping_companies(shipping_company_id),
            UNIQUE(marketplace_id, shipping_company_id)
        );

CREATE TABLE IF NOT EXISTS shipping_rate_rules (
            rule_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            marketplace_id INTEGER NOT NULL,
            shipping_company_id INTEGER NOT NULL,
            desi_min REAL NOT NULL CHECK(desi_min >= 0),
            desi_max REAL NOT NULL CHECK(desi_max >= 0),
            price REAL NOT NULL CHECK(price >= 0),
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id),
            FOREIGN KEY (shipping_company_id) REFERENCES shipping_companies(shipping_company_id)
        );

CREATE TABLE IF NOT EXISTS seller_profiles (
            profile_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            company_type TEXT NOT NULL,
            monthly_employee_cost REAL DEFAULT 0 CHECK(monthly_employee_cost >= 0),
            monthly_warehouse_cost REAL DEFAULT 0 CHECK(monthly_warehouse_cost >= 0),
            monthly_invoice_accounting_cost REAL DEFAULT 0 CHECK(monthly_invoice_accounting_cost >= 0),
            monthly_other_expenses REAL DEFAULT 0 CHECK(monthly_other_expenses >= 0),
            expected_monthly_order_count INTEGER DEFAULT 1 CHECK(expected_monthly_order_count > 0)
        , tax_bracket REAL DEFAULT 20);

CREATE TABLE IF NOT EXISTS products (
            product_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name TEXT NOT NULL,
            category_id INTEGER,
            profile_id INTEGER,
            cost REAL NOT NULL CHECK(cost >= 0),
            packaging_cost REAL DEFAULT 0.0 CHECK(packaging_cost >= 0),
            desi REAL NOT NULL CHECK(desi >= 0), status TEXT DEFAULT 'active', sku TEXT, image_url TEXT, category_path TEXT, barcode TEXT, description TEXT,
            FOREIGN KEY (category_id) REFERENCES categories(category_id),
            FOREIGN KEY (profile_id) REFERENCES seller_profiles(profile_id)
        );

CREATE TABLE IF NOT EXISTS income_tax_brackets (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            company_type TEXT NOT NULL,
            year INTEGER NOT NULL,
            income_min REAL NOT NULL,
            income_max REAL NULL,
            base_tax_amount REAL NOT NULL,
            marginal_rate_percent REAL NOT NULL
        );

CREATE TABLE IF NOT EXISTS platform_fee_rules (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            marketplace_id INTEGER NOT NULL,
            fee_name TEXT NOT NULL,
            fee_type TEXT NOT NULL,
            fee_value_net REAL DEFAULT 0,
            fee_value_gross REAL DEFAULT 0,
            fee_rate_percent_net REAL DEFAULT 0,
            fee_rate_percent_gross REAL DEFAULT 0,
            vat_rate_percent REAL DEFAULT 20,
            applies_per TEXT NULL,
            applies_to TEXT NULL,
            shipment_type TEXT NULL,
            is_active INTEGER DEFAULT 1,
            source_note TEXT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
        );

CREATE TABLE IF NOT EXISTS "payment_gateway_rules" (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            seller_profile_id INTEGER NULL,
            marketplace_id INTEGER NOT NULL,
            gateway_name TEXT NOT NULL,
            fee_rate_percent REAL DEFAULT 0 CHECK(fee_rate_percent >= 0 AND fee_rate_percent <= 100),
            fixed_fee_per_order REAL DEFAULT 0 CHECK(fixed_fee_per_order >= 0),
            vat_rate_percent REAL DEFAULT 20 CHECK(vat_rate_percent >= 0 AND vat_rate_percent <= 100),
            fee_values_include_vat INTEGER DEFAULT 1,
            is_active INTEGER DEFAULT 1,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, manual_shipping_cost REAL DEFAULT 95, avg_ad_cost REAL DEFAULT 56.2, avg_conversion_rate REAL DEFAULT 2.6,
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id),
            FOREIGN KEY (seller_profile_id) REFERENCES seller_profiles(profile_id)
        );

CREATE TABLE IF NOT EXISTS "product_marketplace_settings" (
            setting_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            product_id INTEGER NOT NULL,
            marketplace_id INTEGER NOT NULL,
            shipping_company_id INTEGER NULL,
            sale_price REAL,
            manual_shipping_cost REAL DEFAULT NULL,
            payment_gateway_rule_id INTEGER NULL,
            shipping_mode TEXT DEFAULT 'marketplace_rate', traffic_cpa REAL DEFAULT NULL, buybox_price REAL DEFAULT NULL,
            FOREIGN KEY (product_id) REFERENCES products(product_id),
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id),
            FOREIGN KEY (shipping_company_id) REFERENCES shipping_companies(shipping_company_id),
            FOREIGN KEY (payment_gateway_rule_id) REFERENCES payment_gateway_rules(id),
            UNIQUE(product_id, marketplace_id)
        );

CREATE TABLE IF NOT EXISTS "cost_results" (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            product_id INTEGER NOT NULL,
            marketplace_id INTEGER NOT NULL,
            shipping_company_id INTEGER NULL,
            list_price REAL NOT NULL,
            product_cost REAL NOT NULL,
            packaging_cost REAL NOT NULL,
            shipping_cost REAL NOT NULL,
            commission_cost REAL NOT NULL,
            platform_fee_cost REAL DEFAULT 0,
            payment_gateway_cost REAL DEFAULT 0,
            unit_ad_cost REAL DEFAULT 0,
            unit_fixed_cost REAL DEFAULT 0,
            total_unit_cost REAL NOT NULL,
            net_profit REAL NOT NULL,
            profit_margin_percent REAL NOT NULL,
            calculated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            shipping_mode TEXT NULL,
            manual_shipping_cost REAL DEFAULT NULL,
            payment_gateway_rule_id INTEGER NULL,
            warning_notes TEXT NULL, marketplace_slug TEXT, marketplace_name TEXT, expected_return_cost REAL DEFAULT 0, output_vat_amount REAL DEFAULT 0, input_vat_amount REAL DEFAULT 0, estimated_vat_payable REAL DEFAULT 0, realized_commission REAL DEFAULT 0, realized_shipping_cost REAL DEFAULT 0, shipping_vat_amount REAL DEFAULT 0, income_tax_amount REAL DEFAULT 0, withholding_tax_amount REAL DEFAULT 0, ml_return_rate REAL DEFAULT 0, ml_predicted_return_cost REAL DEFAULT 0, ml_predicted_cpa REAL DEFAULT 0, ml_shipping_multiplier REAL DEFAULT 1, ml_effective_shipping_cost REAL DEFAULT 0, ml_effective_desi REAL DEFAULT 0, ml_confidence TEXT, ml_notes TEXT, ml_model_source TEXT,
            FOREIGN KEY (product_id) REFERENCES products(product_id),
            FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id),
            FOREIGN KEY (shipping_company_id) REFERENCES shipping_companies(shipping_company_id),
            FOREIGN KEY (payment_gateway_rule_id) REFERENCES payment_gateway_rules(id)
        );

CREATE TABLE IF NOT EXISTS "commission_rules" (
            id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            marketplace_id INTEGER NOT NULL,
            category_id INTEGER,
            raw_category_name TEXT,
            commission_rate_percent REAL,
            confidence_level TEXT,
            source_marketplace_name TEXT,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );

CREATE TABLE IF NOT EXISTS store_expenses (
      expense_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      profile_id INTEGER DEFAULT 1,
      name TEXT NOT NULL,
      monthly_amount REAL NOT NULL DEFAULT 0,
      note TEXT,
      status TEXT DEFAULT 'active',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS price_optimization_runs (
      run_id TEXT PRIMARY KEY,
      product_id INTEGER NOT NULL,
      marketplace_id INTEGER NOT NULL,
      current_price REAL NOT NULL,
      recommended_price REAL NOT NULL,
      min_price_limit REAL NOT NULL,
      max_price_limit REAL NOT NULL,
      expected_demand_current REAL NOT NULL,
      expected_demand_recommended REAL NOT NULL,
      expected_profit_current REAL NOT NULL,
      expected_profit_recommended REAL NOT NULL,
      elasticity_estimate REAL NOT NULL,
      confidence_score TEXT NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, status TEXT DEFAULT 'DRAFT', stock REAL DEFAULT 0, current_sales_volume REAL DEFAULT 0, published_at TIMESTAMP,
      FOREIGN KEY (product_id) REFERENCES products(product_id),
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
    );

CREATE TABLE IF NOT EXISTS orders (
      order_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      product_id INTEGER NOT NULL,
      marketplace_id INTEGER NOT NULL,
      order_date DATE NOT NULL,
      quantity REAL NOT NULL DEFAULT 1,
      unit_price REAL NOT NULL DEFAULT 0,
      status TEXT DEFAULT 'completed',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, external_order_number TEXT, external_package_number TEXT, external_line_item_id TEXT, merchant_sku TEXT, barcode TEXT, buyer_name TEXT, order_status_detail TEXT, currency_code TEXT DEFAULT 'TRY', gross_amount REAL DEFAULT 0, discount_amount REAL DEFAULT 0, shipping_amount REAL DEFAULT 0, commission_amount REAL DEFAULT 0, realized_commission REAL DEFAULT 0, realized_shipping_cost REAL DEFAULT 0, settlement_transaction_type TEXT, raw_payload_json TEXT, last_synced_at TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, campaign_id TEXT, campaign_name TEXT, utm_source TEXT, utm_medium TEXT, utm_campaign TEXT, platform_reported_revenue REAL DEFAULT 0, platform_reported_roas REAL DEFAULT 0,
      FOREIGN KEY (product_id) REFERENCES products(product_id),
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
    );

CREATE TABLE IF NOT EXISTS inventory_daily (
      inventory_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      product_id INTEGER NOT NULL,
      marketplace_id INTEGER NOT NULL,
      inventory_date DATE NOT NULL,
      stock_qty REAL NOT NULL DEFAULT 0,
      reserved_qty REAL NOT NULL DEFAULT 0,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (product_id) REFERENCES products(product_id),
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
    );

CREATE TABLE IF NOT EXISTS demand_forecasts (
      forecast_id TEXT PRIMARY KEY,
      product_id INTEGER NOT NULL,
      marketplace_id INTEGER NOT NULL,
      forecast_date DATE NOT NULL,
      horizon_days INTEGER NOT NULL,
      predicted_units REAL NOT NULL,
      lower_bound REAL NOT NULL,
      upper_bound REAL NOT NULL,
      wmape REAL NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (product_id) REFERENCES products(product_id),
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
    );

CREATE TABLE IF NOT EXISTS seo_generations (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      product_id INTEGER NOT NULL,
      model_name TEXT NOT NULL,
      input_keywords TEXT NOT NULL,
      tone TEXT NOT NULL,
      audience TEXT,
      meta_title TEXT NOT NULL,
      meta_description TEXT NOT NULL,
      slug TEXT NOT NULL,
      h1_heading TEXT NOT NULL,
      html_content TEXT NOT NULL,
      faq_json TEXT NOT NULL,
      json_ld TEXT NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

CREATE TABLE IF NOT EXISTS seo_audits (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_type TEXT NOT NULL,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      target_url TEXT,
      target_label TEXT,
      status TEXT NOT NULL,
      overall_score REAL,
      data_coverage REAL DEFAULT 0,
      critical_issues_count INTEGER DEFAULT 0,
      warning_issues_count INTEGER DEFAULT 0,
      opportunities_count INTEGER DEFAULT 0,
      missing_meta_count INTEGER DEFAULT 0,
      schema_status TEXT DEFAULT 'insufficient_data',
      estimated_organic_potential REAL,
      source_hash TEXT NOT NULL,
      page_signal_json TEXT,
      context_json TEXT,
      ai_model_name TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , generated_fields_json TEXT);

CREATE TABLE IF NOT EXISTS seo_audit_issues (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_id INTEGER NOT NULL,
      issue_type TEXT NOT NULL,
      severity TEXT NOT NULL,
      title TEXT NOT NULL,
      description TEXT NOT NULL,
      affected_field TEXT NOT NULL,
      current_value TEXT,
      recommended_value TEXT,
      reason TEXT,
      priority_score REAL DEFAULT 0,
      expected_impact TEXT,
      implementation_difficulty TEXT,
      evidence_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (audit_id) REFERENCES seo_audits(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS seo_keyword_research (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_id INTEGER NOT NULL,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      keyword TEXT NOT NULL,
      search_intent TEXT,
      volume REAL,
      difficulty REAL,
      cpc REAL,
      opportunity_score REAL DEFAULT 0,
      source TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (audit_id) REFERENCES seo_audits(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS seo_ai_recommendations (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_id INTEGER NOT NULL,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      recommendation_type TEXT NOT NULL,
      current_value TEXT,
      suggested_value TEXT,
      explanation TEXT,
      confidence_score REAL DEFAULT 0,
      risk_level TEXT DEFAULT 'low',
      impact_score REAL DEFAULT 0,
      difficulty_score REAL DEFAULT 0,
      business_value_score REAL DEFAULT 0,
      priority_score REAL DEFAULT 0,
      status TEXT DEFAULT 'draft',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      applied_at TIMESTAMP,
      FOREIGN KEY (audit_id) REFERENCES seo_audits(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS seo_schema_suggestions (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_id INTEGER NOT NULL,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      schema_type TEXT NOT NULL,
      json_ld TEXT NOT NULL,
      validation_status TEXT NOT NULL,
      issues TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (audit_id) REFERENCES seo_audits(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS seo_internal_link_suggestions (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      audit_id INTEGER NOT NULL,
      source_type TEXT NOT NULL,
      source_id TEXT NOT NULL,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      anchor_text TEXT NOT NULL,
      reason TEXT,
      priority_score REAL DEFAULT 0,
      status TEXT DEFAULT 'draft',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (audit_id) REFERENCES seo_audits(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS seo_content_versions (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      target_type TEXT NOT NULL,
      target_id TEXT NOT NULL,
      field_name TEXT NOT NULL,
      old_content TEXT,
      new_content TEXT,
      created_by TEXT,
      status TEXT DEFAULT 'draft',
      audit_id INTEGER,
      recommendation_id INTEGER,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS seo_jobs (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      job_type TEXT NOT NULL,
      status TEXT NOT NULL,
      progress INTEGER DEFAULT 0,
      input_payload TEXT,
      output_payload TEXT,
      error_message TEXT,
      batch_id TEXT,
      source_hash TEXT,
      retry_count INTEGER DEFAULT 0,
      next_retry_at TIMESTAMP,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      completed_at TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS marketplace_credentials (
      credential_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      marketplace_id INTEGER NOT NULL UNIQUE,
      merchant_id TEXT NOT NULL,
      encrypted_api_key TEXT NOT NULL,
      encrypted_api_secret TEXT NOT NULL,
      is_active INTEGER NOT NULL DEFAULT 1,
      last_sync_time TIMESTAMP,
      last_sync_scope TEXT,
      last_error TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS order_items (
      order_item_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      order_id INTEGER NOT NULL,
      marketplace_order_number TEXT,
      package_number TEXT,
      external_order_line_id TEXT,
      merchant_sku TEXT,
      barcode TEXT,
      product_id INTEGER,
      quantity REAL NOT NULL DEFAULT 1,
      unit_price REAL NOT NULL DEFAULT 0,
      line_total REAL NOT NULL DEFAULT 0,
      commission_amount REAL DEFAULT 0,
      shipping_cost REAL DEFAULT 0,
      transaction_type TEXT,
      raw_payload_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (order_id) REFERENCES orders(order_id) ON DELETE CASCADE,
      FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

CREATE TABLE IF NOT EXISTS data_center_sync_runs (
      sync_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      sync_scope TEXT NOT NULL DEFAULT 'all_products',
      product_count INTEGER NOT NULL DEFAULT 0,
      processed_products INTEGER NOT NULL DEFAULT 0,
      note TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS campaign_profit_metrics (
      metric_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      campaign_id TEXT NOT NULL UNIQUE,
      campaign_name TEXT NOT NULL,
      platform_slug TEXT NOT NULL,
      platform_label TEXT NOT NULL,
      utm_source TEXT,
      utm_campaign TEXT,
      window_start DATE NOT NULL,
      window_end DATE NOT NULL,
      spend REAL NOT NULL DEFAULT 0,
      impressions INTEGER NOT NULL DEFAULT 0,
      clicks INTEGER NOT NULL DEFAULT 0,
      platform_reported_revenue REAL NOT NULL DEFAULT 0,
      platform_reported_roas REAL NOT NULL DEFAULT 0,
      attributed_orders INTEGER NOT NULL DEFAULT 0,
      attributed_revenue REAL NOT NULL DEFAULT 0,
      gross_profit REAL NOT NULL DEFAULT 0,
      net_profit REAL NOT NULL DEFAULT 0,
      roas REAL NOT NULL DEFAULT 0,
      poas REAL NOT NULL DEFAULT 0,
      new_customers INTEGER NOT NULL DEFAULT 0,
      cac REAL NOT NULL DEFAULT 0,
      predicted_ltv REAL NOT NULL DEFAULT 0,
      ltv_cac_ratio REAL NOT NULL DEFAULT 0,
      health_status TEXT NOT NULL DEFAULT 'watch',
      action_label TEXT NOT NULL DEFAULT 'İzle',
      match_method TEXT NOT NULL DEFAULT 'derived',
      confidence_score REAL NOT NULL DEFAULT 0,
      efficiency_gap REAL NOT NULL DEFAULT 0,
      data_source TEXT NOT NULL DEFAULT 'derived',
      last_calculated_at TIMESTAMP,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS users (
      user_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      email TEXT NOT NULL UNIQUE,
      password_hash TEXT NOT NULL,
      name TEXT NOT NULL,
      plan TEXT DEFAULT 'Premium Plan',
      is_active INTEGER DEFAULT 1,
      last_login_at TIMESTAMP,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , company TEXT, phone TEXT, firebase_uid TEXT);

CREATE TABLE IF NOT EXISTS organizations (
      organization_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      name TEXT NOT NULL,
      owner_user_id INTEGER NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS organization_members (
      member_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      organization_id INTEGER NOT NULL,
      user_id INTEGER NOT NULL,
      role TEXT NOT NULL DEFAULT 'owner',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS uploaded_reports (
      report_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      organization_id INTEGER NOT NULL DEFAULT 1,
      user_id INTEGER NOT NULL,
      file_name TEXT NOT NULL,
      file_type TEXT NOT NULL,
      source_type TEXT NOT NULL DEFAULT 'upload',
      storage_path TEXT NOT NULL,
      detected_date_start DATE,
      detected_date_end DATE,
      detected_level TEXT NOT NULL DEFAULT 'unknown',
      report_mode TEXT NOT NULL DEFAULT 'summary',
      row_count INTEGER NOT NULL DEFAULT 0,
      column_count INTEGER NOT NULL DEFAULT 0,
      data_quality_score INTEGER NOT NULL DEFAULT 0,
      status TEXT NOT NULL DEFAULT 'uploaded',
      source_columns_json TEXT,
      warnings_json TEXT,
      summary_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      processed_at TIMESTAMP,
      error_message TEXT
    );

CREATE TABLE IF NOT EXISTS report_column_mappings (
      mapping_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL,
      source_column TEXT NOT NULL,
      mapped_field TEXT,
      confidence REAL NOT NULL DEFAULT 0,
      is_required INTEGER NOT NULL DEFAULT 0,
      user_confirmed INTEGER NOT NULL DEFAULT 0,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS normalized_ad_rows (
      row_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL,
      organization_id INTEGER NOT NULL DEFAULT 1,
      row_index INTEGER NOT NULL,
      level TEXT NOT NULL DEFAULT 'unknown',
      campaign_id TEXT,
      campaign_name TEXT,
      adset_id TEXT,
      adset_name TEXT,
      ad_id TEXT,
      ad_name TEXT,
      date DATE,
      report_start DATE,
      report_end DATE,
      status TEXT,
      result_type TEXT,
      attribution_setting TEXT,
      spend REAL,
      impressions REAL,
      reach REAL,
      frequency REAL,
      clicks REAL,
      link_clicks REAL,
      ctr REAL,
      cpc REAL,
      cpm REAL,
      results REAL,
      cost_per_result REAL,
      purchases REAL,
      leads REAL,
      conversion_value REAL,
      roas REAL,
      quality_ranking TEXT,
      engagement_rate_ranking TEXT,
      conversion_rate_ranking TEXT,
      raw_json TEXT NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , age TEXT, gender TEXT);

CREATE TABLE IF NOT EXISTS analysis_settings (
      setting_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL UNIQUE,
      target_cpa REAL NOT NULL DEFAULT 150,
      target_roas REAL NOT NULL DEFAULT 2,
      minimum_spend REAL NOT NULL DEFAULT 1000,
      minimum_conversions REAL NOT NULL DEFAULT 1,
      primary_conversion_type TEXT NOT NULL DEFAULT 'results',
      currency TEXT NOT NULL DEFAULT 'TRY',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , product_name TEXT NOT NULL DEFAULT '', sales_count REAL);

CREATE TABLE IF NOT EXISTS analysis_results (
      result_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL,
      organization_id INTEGER NOT NULL DEFAULT 1,
      entity_type TEXT NOT NULL,
      entity_id TEXT NOT NULL,
      entity_name TEXT NOT NULL,
      date_start DATE,
      date_end DATE,
      spend REAL NOT NULL DEFAULT 0,
      impressions REAL NOT NULL DEFAULT 0,
      reach REAL NOT NULL DEFAULT 0,
      clicks REAL NOT NULL DEFAULT 0,
      link_clicks REAL NOT NULL DEFAULT 0,
      results REAL NOT NULL DEFAULT 0,
      purchases REAL NOT NULL DEFAULT 0,
      leads REAL NOT NULL DEFAULT 0,
      conversion_value REAL NOT NULL DEFAULT 0,
      ctr REAL,
      cpc REAL,
      cpm REAL,
      cpa REAL,
      cost_per_result REAL,
      roas REAL,
      frequency REAL,
      score INTEGER NOT NULL DEFAULT 0,
      status_label TEXT NOT NULL DEFAULT 'Dikkat gerekli',
      reasoning_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , age TEXT, gender TEXT);

CREATE TABLE IF NOT EXISTS recommendations (
      recommendation_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL,
      organization_id INTEGER NOT NULL DEFAULT 1,
      entity_type TEXT NOT NULL,
      entity_id TEXT NOT NULL,
      entity_name TEXT NOT NULL,
      recommendation_type TEXT NOT NULL,
      title TEXT NOT NULL,
      reason TEXT NOT NULL,
      evidence_json TEXT,
      suggested_action TEXT NOT NULL,
      priority TEXT NOT NULL DEFAULT 'medium',
      confidence REAL NOT NULL DEFAULT 0,
      risk_level TEXT NOT NULL DEFAULT 'medium',
      status TEXT NOT NULL DEFAULT 'open',
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS llm_outputs (
      llm_output_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER NOT NULL,
      organization_id INTEGER NOT NULL DEFAULT 1,
      prompt_type TEXT NOT NULL,
      prompt_version TEXT NOT NULL,
      input_payload_json TEXT NOT NULL,
      output_payload_json TEXT NOT NULL,
      model TEXT NOT NULL,
      cached INTEGER NOT NULL DEFAULT 0,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS audit_logs (
      audit_id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      report_id INTEGER,
      organization_id INTEGER NOT NULL DEFAULT 1,
      user_id INTEGER,
      action TEXT NOT NULL,
      entity_type TEXT NOT NULL,
      entity_id TEXT NOT NULL,
      metadata_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE IF NOT EXISTS manual_ad_campaigns (
      id TEXT PRIMARY KEY,
      user_id INTEGER NOT NULL,
      name TEXT NOT NULL,
      platform TEXT NOT NULL,
      start_date TEXT NOT NULL,
      end_date TEXT NOT NULL,
      total_spend REAL NOT NULL,
      orders_from_ads INTEGER NOT NULL,
      revenue_from_ads REAL,
      product_name TEXT,
      product_sale_price REAL,
      estimated_product_cost REAL,
      estimated_product_profit REAL,
      notes TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS manual_ad_chat_messages (
      id TEXT PRIMARY KEY,
      campaign_id TEXT NOT NULL,
      role TEXT NOT NULL,
      content TEXT NOT NULL,
      metadata_json TEXT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (campaign_id) REFERENCES manual_ad_campaigns(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS manual_ad_ai_reports (
      id TEXT PRIMARY KEY,
      campaign_id TEXT NOT NULL,
      decision TEXT NOT NULL,
      score INTEGER NOT NULL,
      summary TEXT NOT NULL,
      metrics_json TEXT NOT NULL,
      conversation_state_json TEXT NOT NULL,
      analysis_json TEXT NOT NULL,
      recommendations_json TEXT NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (campaign_id) REFERENCES manual_ad_campaigns(id) ON DELETE CASCADE
    );

CREATE TABLE IF NOT EXISTS product_channel_seo_contents (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      product_id TEXT NOT NULL,
      channel TEXT NOT NULL,
      title TEXT NOT NULL,
      description TEXT NOT NULL,
      status TEXT NOT NULL DEFAULT 'draft',
      seo_score INTEGER,
      warnings_json TEXT,
      notes_json TEXT,
      keywords_json TEXT,
      generated_by TEXT,
      model TEXT,
      created_at TEXT DEFAULT CURRENT_TIMESTAMP,
      updated_at TEXT DEFAULT CURRENT_TIMESTAMP,
      optimized_at TEXT,
      UNIQUE(product_id, channel)
    );

CREATE TABLE IF NOT EXISTS product_channel_seo_jobs (
      id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
      status TEXT NOT NULL,
      total_count INTEGER NOT NULL,
      success_count INTEGER NOT NULL DEFAULT 0,
      error_count INTEGER NOT NULL DEFAULT 0,
      skipped_count INTEGER NOT NULL DEFAULT 0,
      model TEXT,
      channels_json TEXT,
      created_at TEXT DEFAULT CURRENT_TIMESTAMP,
      completed_at TEXT
    );

CREATE TABLE IF NOT EXISTS profit_pricing_runs (
      run_id TEXT PRIMARY KEY,
      product_id INTEGER NOT NULL,
      channel TEXT NOT NULL,
      marketplace_id INTEGER,
      note TEXT,
      input_json TEXT NOT NULL,
      result_json TEXT NOT NULL,
      decision TEXT NOT NULL,
      data_quality TEXT NOT NULL,
      recommended_min REAL,
      recommended_max REAL,
      recommended_preferred REAL,
      applied_at TIMESTAMP,
      applied_old_price REAL,
      applied_new_price REAL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (product_id) REFERENCES products(product_id),
      FOREIGN KEY (marketplace_id) REFERENCES marketplaces(marketplace_id)
    );

CREATE INDEX IF NOT EXISTS idx_cat_parent ON categories(parent_id);

CREATE INDEX IF NOT EXISTS idx_shipping_rule ON shipping_rate_rules(marketplace_id, shipping_company_id, desi_min, desi_max);

CREATE INDEX IF NOT EXISTS idx_categories_path ON categories(path);

CREATE INDEX IF NOT EXISTS idx_marketplaces_slug ON marketplaces(slug);

CREATE INDEX IF NOT EXISTS idx_shipping_companies_name ON shipping_companies(name);

CREATE INDEX IF NOT EXISTS idx_products_category_id ON products(category_id);

CREATE INDEX IF NOT EXISTS idx_products_profile_id ON products(profile_id);

CREATE INDEX IF NOT EXISTS idx_product_marketplace_settings_product_id ON product_marketplace_settings(product_id);

CREATE INDEX IF NOT EXISTS idx_product_marketplace_settings_marketplace_id ON product_marketplace_settings(marketplace_id);

CREATE INDEX IF NOT EXISTS idx_product_marketplace_settings_gateway_rule_id ON product_marketplace_settings(payment_gateway_rule_id);

CREATE INDEX IF NOT EXISTS idx_payment_gateway_rules_marketplace_id ON payment_gateway_rules(marketplace_id);

CREATE INDEX IF NOT EXISTS idx_payment_gateway_rules_seller_profile_id ON payment_gateway_rules(seller_profile_id);

CREATE INDEX IF NOT EXISTS idx_category_tax_rules_category_id ON category_tax_rules(category_id);

CREATE INDEX IF NOT EXISTS idx_platform_fee_rules_marketplace_id ON platform_fee_rules(marketplace_id);

CREATE INDEX IF NOT EXISTS idx_marketplace_shipping_options_lookup ON marketplace_shipping_options(marketplace_id, shipping_company_id);

CREATE INDEX IF NOT EXISTS idx_cost_results_product_marketplace ON cost_results(product_id, marketplace_id);

CREATE INDEX IF NOT EXISTS idx_store_expenses_profile_status ON store_expenses(profile_id, status);

CREATE INDEX IF NOT EXISTS idx_products_sku ON products(sku);

CREATE INDEX IF NOT EXISTS idx_price_optimization_runs_product ON price_optimization_runs(product_id);

CREATE INDEX IF NOT EXISTS idx_price_optimization_runs_marketplace ON price_optimization_runs(marketplace_id);

CREATE INDEX IF NOT EXISTS idx_price_optimization_runs_created_at ON price_optimization_runs(created_at DESC);

CREATE INDEX IF NOT EXISTS idx_orders_product_marketplace_date ON orders(product_id, marketplace_id, order_date);

CREATE INDEX IF NOT EXISTS idx_inventory_daily_product_marketplace_date ON inventory_daily(product_id, marketplace_id, inventory_date);

CREATE INDEX IF NOT EXISTS idx_seo_generations_product_created_at ON seo_generations(product_id, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_seo_audits_target_source ON seo_audits(target_type, target_id, audit_type, source_hash);

CREATE INDEX IF NOT EXISTS idx_seo_audits_created_at ON seo_audits(created_at DESC);

CREATE INDEX IF NOT EXISTS idx_seo_audit_issues_audit ON seo_audit_issues(audit_id, severity, priority_score DESC);

CREATE INDEX IF NOT EXISTS idx_seo_keyword_research_audit ON seo_keyword_research(audit_id, opportunity_score DESC);

CREATE INDEX IF NOT EXISTS idx_seo_ai_recommendations_audit ON seo_ai_recommendations(audit_id, priority_score DESC);

CREATE INDEX IF NOT EXISTS idx_seo_schema_suggestions_audit ON seo_schema_suggestions(audit_id);

CREATE INDEX IF NOT EXISTS idx_seo_internal_link_suggestions_audit ON seo_internal_link_suggestions(audit_id, priority_score DESC);

CREATE INDEX IF NOT EXISTS idx_seo_jobs_status_created ON seo_jobs(status, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_seo_jobs_source_hash ON seo_jobs(source_hash);

CREATE UNIQUE INDEX IF NOT EXISTS idx_orders_external_unique ON orders(marketplace_id, external_order_number, external_line_item_id);

CREATE INDEX IF NOT EXISTS idx_orders_marketplace_status ON orders(marketplace_id, status);

CREATE INDEX IF NOT EXISTS idx_orders_external_package ON orders(external_package_number);

CREATE UNIQUE INDEX IF NOT EXISTS idx_marketplace_credentials_marketplace ON marketplace_credentials(marketplace_id);

CREATE INDEX IF NOT EXISTS idx_marketplace_credentials_marketplace_active ON marketplace_credentials(marketplace_id, is_active);

CREATE UNIQUE INDEX IF NOT EXISTS idx_order_items_external_unique ON order_items(marketplace_order_number, external_order_line_id);

CREATE INDEX IF NOT EXISTS idx_order_items_order_id ON order_items(order_id);

CREATE INDEX IF NOT EXISTS idx_order_items_product_id ON order_items(product_id);

CREATE INDEX IF NOT EXISTS idx_data_center_sync_runs_created_at ON data_center_sync_runs(created_at DESC);

CREATE UNIQUE INDEX IF NOT EXISTS idx_demand_forecasts_product_marketplace_date_horizon ON demand_forecasts(product_id, marketplace_id, forecast_date, horizon_days);

CREATE INDEX IF NOT EXISTS idx_price_optimization_runs_status_created_at ON price_optimization_runs(status, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_price_optimization_runs_published_at ON price_optimization_runs(published_at DESC);

CREATE UNIQUE INDEX IF NOT EXISTS idx_campaign_profit_metrics_campaign_id ON campaign_profit_metrics(campaign_id);

CREATE INDEX IF NOT EXISTS idx_campaign_profit_metrics_status_spend ON campaign_profit_metrics(health_status, spend DESC);

CREATE INDEX IF NOT EXISTS idx_campaign_profit_metrics_last_calculated_at ON campaign_profit_metrics(last_calculated_at DESC);

CREATE INDEX IF NOT EXISTS idx_organizations_owner ON organizations(owner_user_id);

CREATE UNIQUE INDEX IF NOT EXISTS idx_organization_members_unique ON organization_members(organization_id, user_id);

CREATE INDEX IF NOT EXISTS idx_uploaded_reports_user_created ON uploaded_reports(user_id, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_uploaded_reports_status_created ON uploaded_reports(status, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_report_column_mappings_report ON report_column_mappings(report_id);

CREATE INDEX IF NOT EXISTS idx_normalized_ad_rows_report ON normalized_ad_rows(report_id, row_index);

CREATE INDEX IF NOT EXISTS idx_analysis_results_report_entity ON analysis_results(report_id, entity_type, entity_id);

CREATE INDEX IF NOT EXISTS idx_recommendations_report_entity ON recommendations(report_id, entity_type, entity_id);

CREATE INDEX IF NOT EXISTS idx_llm_outputs_report_created ON llm_outputs(report_id, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_audit_logs_report_created ON audit_logs(report_id, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_manual_ad_campaigns_user_created_at ON manual_ad_campaigns(user_id, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_manual_ad_chat_messages_campaign_created_at ON manual_ad_chat_messages(campaign_id, created_at ASC);

CREATE INDEX IF NOT EXISTS idx_manual_ad_ai_reports_campaign_created_at ON manual_ad_ai_reports(campaign_id, created_at DESC);

CREATE UNIQUE INDEX IF NOT EXISTS idx_product_channel_seo_contents_unique ON product_channel_seo_contents(product_id, channel);

CREATE INDEX IF NOT EXISTS idx_product_channel_seo_contents_product_status ON product_channel_seo_contents(product_id, status, channel);

CREATE INDEX IF NOT EXISTS idx_product_channel_seo_contents_status_updated ON product_channel_seo_contents(status, updated_at DESC);

CREATE INDEX IF NOT EXISTS idx_product_channel_seo_jobs_status_created ON product_channel_seo_jobs(status, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_profit_pricing_runs_product ON profit_pricing_runs(product_id);

CREATE INDEX IF NOT EXISTS idx_profit_pricing_runs_created_at ON profit_pricing_runs(created_at DESC);

CREATE INDEX IF NOT EXISTS idx_profit_pricing_runs_channel ON profit_pricing_runs(channel, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_orders_status_order_date
      ON orders(status, order_date);

CREATE INDEX IF NOT EXISTS idx_orders_product_marketplace
      ON orders(product_id, marketplace_id);

CREATE INDEX IF NOT EXISTS idx_inventory_daily_inventory_date_stock_qty
      ON inventory_daily(inventory_date, stock_qty);

CREATE INDEX IF NOT EXISTS idx_cost_results_product_id
      ON cost_results(product_id);

CREATE UNIQUE INDEX IF NOT EXISTS idx_users_firebase_uid ON users(firebase_uid);

COMMIT;
